<div>
    <nav class="navbar">
        <div>
            <a href="{{route('home')}}">Accueil</a>
        </div>
        <div>
            <a href="{{route('games.show')}}">Jeux vidéo</a>
        </div>
        <div>
            <a href="{{route('movies.show')}}">Films</a>
        </div>
        <div>
            <a href="{{route('anime.show')}}">Animé</a>
        </div>
        <div>
            <a href="{{route('series.show')}}">Séries</a>
        </div>
        <div>
            <a href="{{route('books.show')}}">Livres</a>
        </div>

        <div>
            Connexion
        </div>
    </nav>
</div>