<div>
    <nav class="navbar">
        <div>
            <a href="{{route('home')}}">Accueil</a>
        </div>
        <div>
            <a href="{{route('games.index')}}">Jeux vidéo</a>
        </div>
        <div>
            <a href="{{route('movies.index')}}">Films</a>
        </div>
        <div>
            <a href="{{route('anime.index')}}">Animé</a>
        </div>
        <div>
            <a href="{{route('series.index')}}">Séries</a>
        </div>
        <div>
            <a href="{{route('books.index')}}">Livres</a>
        </div>

        <div>
            Connexion
        </div>
    </nav>
</div>