* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

a,
ul,
ol {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.media-list-container {
  display: flex;
}

.media-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.media-card {
  width: 150px;
  min-height: 290px;
  margin: 10px;
  position: relative;
}

.media-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-card-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-preview {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.img-medium {
  width: 150px;
  aspect-ratio: 2/3 auto;
  border-radius: 3px;
}

.img-large {
  width: 220px;
  aspect-ratio: 2/3 auto;
  border-radius: 3px;
}

.no-cover-preview {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

.no-cover-large {
  width: 100%;
  max-width: 225px;
  aspect-ratio: 2/3;
  max-height: 336px;
  display: flex;
  align-items: center;
}
.no-cover-small {
  width: 100%;
  width: 150px;
  height: 225px;
  display: flex;
  align-items: center;
}

.default-cover {
  width: 80%;
  height: auto;
  margin: auto;
}

.icon-favorite {
  width: 30px;
  height: auto;
  position: absolute;
  top: -10px;
  right: -2px;
}

.media-profile-title-container {
  display: flex;
  align-items: center;
}
.media-profile-name {
  margin-right: 10px;
}

.status-progress-container {
  display: flex;
  align-items: center;
  /* padding: 0 5px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #0f172a; */
}

.status-progress-text {
  /* color: #fafafa; */
  color: #0f172a;
  font-weight: 700;
  font-size: 0.8rem;
}

.status-progress-icon {
  /* width: 20px;
  height: 20px; */
  /* margin-bottom: -0.1em; */
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  min-height: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  /* background-color: #e2e8f0; */
}

.rating-title {
  align-items: center;
  margin-bottom: 5px;
}

.rating-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.1rem;
  height: 2.1rem;
  padding: 3px;
  border-radius: 50%;
  background-color: #0f172a;
}
.rating-number {
  font-weight: 500;
  font-size: 1.2rem;
  color: #fafafa;
}

.rating-label {
  margin-top: 5px;
}
.rating-default {
  outline: 3px solid rgba(203, 213, 225, 1);
  outline-offset: -6px;
}
.rating-good {
  outline: 3px solid rgba(0, 128, 0, 1);
  outline-offset: -6px;
}
.rating-mid {
  outline: 3px solid rgba(234, 179, 8, 1);
  outline-offset: -6px;
}
.rating-bad {
  outline: 3px solid rgba(248, 113, 113, 1);
  outline-offset: -6px;
}
.in-progress {
  background-color: #0ea5e9;
}
.completed {
  background-color: #13d75b;
}
.paused {
  background-color: #f6bb09;
}
.dropped {
  background-color: #f87171;
}
.planned {
  background-color: #cbd5e1;
}
.anticipated {
  background-color: #d946ef;
}

.review-container {
  width: 40%;
  max-width: 400px;
  min-height: 100px;
  padding: 10px;
  background-color: #f8fafc;
}
.review-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review-title {
  margin-left: 10px;
}

.recommandations-carousel {
  display: flex;
}

.dashboard-list {
  width: 80%;
  margin: auto;
}

.dashboard-list-item {
  display: grid;
  grid-template-columns: 50px 100px 2fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.dashboard-list_img {
  width: 30px;
  height: 45px;
  object-fit: cover;
}

.manage-review-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
