@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'vue-sonner/style.css';
@import 'tailwindcss';
@plugin "daisyui" {
  themes: false;
  exclude: rootscrollgutter;
}
@theme {
  --font-sans: 'Montserrat', sans-serif;
  --breakpoint-xs: 25rem;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(55% 0.18 260);
  --color-primary-content: oklch(98% 0.02 260);
  --color-secondary: oklch(46% 0.16 170);
  --color-secondary-content: oklch(98% 0.02 170);
  --color-accent: oklch(65% 0.18 45);
  --color-accent-content: oklch(98% 0.02 45);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(72% 0.15 290);
  --color-info-content: oklch(20% 0.05 290);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(52% 0.18 27);
  --color-error-content: oklch(98% 0.02 27);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'night';
  default: false;
  prefersdark: false;
  color-scheme: 'dark';
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(75% 0.15 260);
  --color-primary-content: oklch(15% 0.05 260);
  --color-secondary: oklch(80% 0.14 170);
  --color-secondary-content: oklch(15% 0.05 170);
  --color-accent: oklch(78% 0.15 50);
  --color-accent-content: oklch(15% 0.05 50);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(78% 0.15 290);
  --color-info-content: oklch(20% 0.05 290);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(68% 0.17 27);
  --color-error-content: oklch(15% 0.05 27);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer base {
  .search-input,
  .search-input::-webkit-search-decoration,
  .search-input::-webkit-search-cancel-button,
  .search-input::-webkit-search-results-button,
  .search-input::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  /* shining effect */
  .sheen-effect {
    position: relative;
    overflow: hidden;
  }

  .sheen-effect::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -100%;
    width: 50%;
    height: 200%;
    /* gradient: transparent -> faded white -> transparent */
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    /* Angle the sheen */
    transform: rotate(20deg);
    /*
      - style, duration, timing type, delay before next loop and loop cycle
    */
    animation: sheen-animation 3s ease-in-out 1s infinite;
  }
}

/*
  moves the sheen from left-to-right.
*/
@keyframes sheen-animation {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
