@layout()

<div>
    @include('components/navigation')
</div>
@each(game in gamesList)
<div class="cards-container">
    <div class="card">
        @!games.card({game})
    </div>
</div>
@endeach
@if(gamesList.length === 0)
<div>
    <p>
        C'est vide par ici
    </p>
</div>
@endif
@end