@layout()

<div>
    @include('components/navigation')
</div>

<div class="cards-container">
    @if(gamesList)
    @each(game in gamesList)
    <div class="card">
        @if(game.cover)
        <div>

            <img loading="lazy"
                srcset="{{ route('storage.show' ,[`${game.cover.smallUrl}`]) }}, {{ route('storage.show' ,[`${game.cover.mediumUrl}`]) }} 2x"
                src="{{ route('storage.show' ,[`${game.cover.mediumUrl}`]) }}" alt="jaquette du jeu {{game.name}}">
        </div>
        @else
        <div>
            <img src="{{ asset('public/images/default-cover.jpg') }}" alt="Image indisponible">
        </div>
        @endif
        <h4>
            {{ game.name }}
        </h4>
        @if(game.gameInfos)
        @if(game.gameInfos.platform)
        <div>
            {{game.gameInfos.platform}}
        </div>
        @end
        @endif
        @if(game.review)
        <div>
            {{ game.review.rating }}
        </div>
        @if(game.review.isFavorite)
        <img class="icon-favorite" src="{{asset('public/images/icons/favorite-icon-relief.svg')}}"
            alt="ce jeu est un coup de cœur" title="Coup de cœur">
        @endif
        @endif
    </div>
    @endeach
    @else
    <p>
        Aucun jeu à afficher
    </p>
    @endif
</div>

@end